= fields_for 'measurements[]', measurement do |measurement_form|
  = measurement_form.hidden_field :measurement_id, value: measurement.measurement_id
  = measurement_form.hidden_field :measurement_concept_id, value: measurement.measurement_concept_id
  = measurement_form.hidden_field :interleave_datapoint_id, value: measurement.interleave_datapoint.id
  = measurement_form.hidden_field :measurement_type_concept_id, value: measurement.measurement_type_concept_id
  %label{for: 'measurement_value' }
    = measurement.interleave_datapoint.name
    %span{ class: 'required' }
      *
    - case measurement.interleave_datapoint.value_type
    - when InterleaveDatapoint::VALUE_TYPE_VALUE_AS_NUMBER_INTEGER, InterleaveDatapoint::VALUE_TYPE_VALUE_AS_NUMBER_DECIMAL
      = measurement_form.text_field :value_as_number
    - when InterleaveDatapoint::VALUE_TYPE_VALUE_AS_NUMBER_INTEGER_LIST
      = measurement_form.select :value_as_number, options_for_select(measurement.interleave_datapoint.integer_values('value_as_number'), selected: measurement_form.object.value_as_number.to_i), { include_blank: true }
    - when InterleaveDatapoint::VALUE_TYPE_VALUE_AS_CONCEPT
      - concepts = measurement.interleave_datapoint.concept_values('value_as_concept_id').map { |concept| [concept.concept_name, concept.concept_id] }
      = measurement_form.select :value_as_concept_id, options_for_select(concepts, selected: measurement_form.object.value_as_concept_id), { include_blank: true }