- content_for(:title) do
  Condition Occurences
#condition_occurrences
  = render 'interleave_people/header'
  = render 'interleave_people/navigation'
  .interleave_datapoint
    %h3
      = @datapoint.name
    .condition_occurrences_list
      = will_paginate @condition_occurrences, renderer: FoundationPagination::Rails
      %table
        %thead
          %tr
            %th.condition_occurrence_concept_name{ width: 200 }
              = sortable 'condition_concept.concept_name', 'Condition'
            %th.condition_occurrence_start_date{ width: 200 }
              = sortable 'condition_start_date', 'Start'
            %th.condition_occurrence_end_date{ width: 200 }
              = sortable 'condition_end_date', 'End'
            %th.condition_occurrence_condition_type_concept_name{ width: 200 }
              = sortable 'condition_type_concept.concept_name', 'Condition Type'
            %th.review{ width: 100 }
        %tbody
          - @condition_occurrences.each do |condition_occurrence|
            = content_tag_for(:tr, condition_occurrence) do
              %td.condition_occurrence_concept_name
                = condition_occurrence.condition_concept.concept_name
              %td.condition_occurrence_start_date
                = condition_occurrence.condition_start_date.to_s(:date)
              %td.condition_occurrence_end_date
                = condition_occurrence.condition_end_date.to_s(:date) unless condition_occurrence.condition_end_date.nil?
              %td.condition_occurrence_condition_type_concept_name
                = condition_occurrence.condition_type_concept.concept_name
              %td.review
                = link_to 'Edit', edit_interleave_registry_interleave_person_condition_occurrence_url(@registry, @interleave_person, condition_occurrence, datapoint_id: @datapoint.id), 'data-no-turbolink' => '', class: 'edit_condition_occurrence_link condition_occurrence_link'
      .new_condition_occurrence_link
        = link_to 'Add', new_interleave_registry_interleave_person_condition_occurrence_url(@registry, @interleave_person, datapoint_id: @datapoint.id), 'data-no-turbolink' => '', id: 'new_condition_occurrence_link', class: 'condition_occurrence_link'
      = will_paginate @condition_occurrences, renderer: FoundationPagination::Rails
  #condition_occurrence_modal.reveal.large{ "data-reveal" => "" }
    .condition_occurrence
    %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
