- content_for(:title) do
  Condition Occurences
#condition_occurences
  = render 'interleave_people/header'
  = render 'interleave_people/navigation'
  .interleave_datapoint
    %h3
      = @datapoint.name
    .condition_occurences_list
      = will_paginate @condition_occurences
      %table
        %thead
          %tr
            %th.condition_occurence_concept_name{ width: 200 }
              = sortable 'concept.name', 'Condition'
            %th.condition_occurence_start_date{ width: 200 }
              = sortable 'condition_start_date', 'Start'
            %th.condition_occurence_end_date{ width: 200 }
              = sortable 'condition_end_date', 'End'
            %th.review{ width: 100 }
        - @condition_occurences.each do |condition_occurence|
          %tbody
            = content_tag_for(:tr, person) do
              %td.condition_occurence_concept_name
                = condition_occurence.condition_conept.name
              %td.condition_occurence_start_date
                = condition_occurence.condition_start_date
              %td.condition_occurence_end_date
                = condition_occurence.condition_end_date
              %td.review
      = will_paginate @condition_occurences