%ul.vertical.menu.person_navigation{"data-accordion-menu" => ""}
  %li{ class: "#{active?('active','interleave_people', 'details')}"}
    = link_to 'Details', details_interleave_registry_interleave_person_url(@registry, @interleave_person), { class: 'registry_people_details_link'  }
  %li.menu-text
    = link_to 'Conditions', '#'
    / Conditions
    %ul.menu.vertical.nested{ class: "#{active?('is-active','condition_occurrences', 'index')}"}
      = links_to_datapoints(@registry, @interleave_person, 'Condition')