- content_for(:title) do
  People

#people
  .people_header
    .banner
      %h2
        %b
          ="#{@registry.name}: People"
    = link_to 'Registries', interleave_registries_url()
    = form_tag interleave_registry_interleave_people_url(@registry), method: 'get', id: 'search_people_form'  do
      .search
        = label_tag :search, 'Search'
        = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
      .affiliate_id
        = label_tag :affiliate_id, 'Affiliate'
        = select_tag :affiliate_id, options_for_select(['all'].concat(@interleave_regsitry_affiliates), selected = params[:affiliate_id])
      .navigation
        %button{ type: 'submit', id: 'search_people_button', class: 'tiny button' }
          Search
        = link_to 'Clear', interleave_registry_interleave_people_url(@registry)
  .people_list
    = will_paginate @people
    %table
      %thead
        %tr
          %th.people_affiliate{ width: 200 }
            = sortable 'interleave_registry_affiliates.name', 'Affiliate'
          %th.people_first_name{ width: 200 }
            = sortable 'first_name'
          %th.people_last_name{ width: 200 }
            = sortable 'last_name'
          %th.review{ width: 100 }
      - @people.each do |person|
        %tbody
          = content_tag_for(:tr, person) do
            %td.people_first_name
              = person.interleave_registry_affiliate.name
            %td.people_first_name
              = person.first_name
            %td.people_last_name
              = person.last_name
            %td.review
              / = link_to 'Person', interleave_people_url(registry), { class: 'registry_people_index_link' }
    = will_paginate @people